<%- include("./partials/header.ejs") %>

    <div class="post container">
        <h3 class="post-title"><%= post.title %></h3>
        <p class="post-details">written by: <span id="author"><%= post.author %></span> at: <span id="date-created"><%= post.dateCreated %></span></p>
        <form action="/posts/<%=post.id%>/save?_method=PATCH" method="POST">
            <textarea rows="10" class="post-content form-control" type="text" name="post-content" placeholder="write your post here" required><%=post.content%></textarea>
            <input class="save-btn btn btn-primary mt-3" type="submit" value="save">
        </form>
    </div>

<%- include("./partials/footer.ejs") %>